svg{
    /*background:gray;*/
    display: block;
    margin: auto;
}

.node circle{
    /* fill: #fff; */
    /* stroke: black; */
    stroke-width: 2px;
}

.node text{ font: 12px sans-serif; }

.link{
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.hidden{
    stroke: rgba(0, 0, 0, 0);

}
.node.hidden{
        fill: rgba(0, 0, 0, 0) !important;
        stroke: rgba(0, 0, 0, 0);
}
.marco {
  display:flex;
}
.tree{
  position:relative;
}
.frameText {
  position: sticky;
  top: 0;
  width:15%;
}

